@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color : #022e57;
    --secondary-color : #005a8d;
    --visible-color : rgba(0,0,0,0.8);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height:1.4;
}
.container{
    max-width: 960px;
    padding: 0px 3rem;
    margin: auto;
    overflow: hidden;
}

#showcase{
    height: 100vh;
    color: #022e57;
    position: relative;
}

#showcase::before{
    content: '';
    background: url('./img/nature.jpg') no-repeat center
     center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    height: 100%;
}


.btn{
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 5px; 
    transition: all 300ms ease-in-out;
    font-size: 18px;
}

.btn-primary{
    background: var(--secondary-color);
    color: #fff;
}

.btn-primary:hover{
    background: var(--primary-color);
}

.menu-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler{
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .ham-menu{
    position: absolute;
    background: var(--primary-color);
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-wrap .ham-menu > div{
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    position: relative;
    transition: all 300ms ease-in-out;
}

.menu-wrap .ham-menu > div::before,
.menu-wrap .ham-menu > div::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    position: absolute;
    top: -10px;
}
.menu-wrap .ham-menu > div::after{
    top: 10px;
}

/* Transform and rotate on checked */
.menu-wrap .toggler:checked + .ham-menu > div{
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .ham-menu > div:before,
.menu-wrap .toggler:checked + .ham-menu > div:after{
    transform: rotate(90deg);
    top: 0;
}
/* Transform and rotate on checked & Hover */
.menu-wrap .toggler:checked:hover + .ham-menu > div{
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .main-menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .main-menu > div{
    transform : scale(1);
    transition: all 0.75s ease;
}

.menu-wrap .toggler:checked ~ .main-menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}
/* Menu Container */
.menu-wrap .main-menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width : 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}

/* Content Box */
.menu-wrap .main-menu > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
}

/* Overlay Box */
.menu-wrap .main-menu > div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width : 200vw;
    height: 200vh;
    background: #022e57;
    border-radius: 100%;
    transition: all 0.4s ease;
    transform: scale(0);
    flex: none;
}

.menu-wrap .main-menu > div > div > ul > li{
    list-style-type: none;
}

.menu-wrap .main-menu > div > div > ul > li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu-wrap .main-menu > div > div > ul > li a:hover{
    color: #ff96ad;
    transition: all 0.4s ease;
}
